body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Логотипы и заголовок */
.header-logo {
    background-color: white; /* Белый фон для логотипов и заголовка */
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo .logo {
    width: 600px; /* Размер логотипов */
    height: auto;
    margin-left: 20px; /* Отступ слева */
}

.header-logo .logo-university {
    width: 130px; /* Размер для второго логотипа */
    height: auto;
    margin-left: 15px;
}

.header-logo h1 {
    color: #333; /* Синий цвет заголовка */
    margin: 0;
    font-size: 22px;
    text-align: center;
    flex-grow: 1; /* Заголовок растягивается */
}

/* Навигационное меню */
.header-menu {
    background-color: #2F4BA7

; /* Синий фон для меню */
    padding: 10px 0;
    text-align: center;
}

.header-menu nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-menu nav ul li {
    margin-right: 20px;
}

.header-menu nav ul li a {
    color: white; /* Белый цвет для текста в меню */
    text-decoration: none;
    font-weight: bold;
}

.header-menu nav ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #2F4BA7;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer .footer-logo {
    width: 50px;
    margin-bottom: 10px;
    display: block;
    margin: 0 auto;
}

footer p {
    margin-top: 10px;
}

section {
    padding: 40px 0;
}

h2 {
    color: #003366;
    text-align: center;
    margin-bottom: 20px;
}

.tool-list {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.tool-item {
    background-color: #e6e6e6;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.tool-item h3 {
    color: #002f6c;
}

form {
    background-color: #e6e6e6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin: 20px auto;
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #2F4BA7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #2F4BA7;
}
